.pai{
    display: flex;
}

.el1{
    width: 70%;
    margin-right: 2.5%;
    background-color: black;
    color: aliceblue;
}

.el2{
    width:30%;
    margin-left: 2.5%;
    background-color: rgb(72, 72, 255);
}